*{
    margin: 0;
    padding: 0;
    transition: 0.4s;
}
a{
    text-decoration: none;
}

body{
    background-color: #e6e6e6;
}

nav{
    background-color: whitesmoke;
    height: 50px;
    font-size: 45px;
    padding: 5px 10px;
}

nav>ul{
    list-style-type: none;
}
img.navImage#home {
    padding-left: 15px;
    float: left;
    overflow: hidden;
}
nav>ul>li>input {
    background-color: whitesmoke;
    margin-right: 8px;
    width: 26%;
    height: 45px;
    float: right;
    border: 2px solid grey;
    border-radius: 8px;
    font-size: 35px;
    padding: 0 10px;
}
nav>ul>li>input:hover,
nav>ul>li>input:active {
    border-color: black;
}
img.navImage {
    padding-right: 25px;
    height: 50px;
    float: right;
    border: none;
}

.sudoku {
    display: grid;
    grid-template-columns: repeat(3, 139px);
    grid-template-rows: repeat(3, 139px);
    justify-content: center;
    margin-top: 2vw;
}

div.box {
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(3, 45px);
    grid-template-rows: repeat(3, 45px);
}

.num-box {
    display: block;
    border: 1px solid black;
    margin: 0;
    font-size: 36px;
    text-align: center;
    color: darkslategrey;
    transition: none;
}

.num-box:hover {
    cursor: pointer;
    color: black;
    background-color: rgba(190, 190, 190, 0.25);
}

.alreadyFilled {
    color: black;
}

.choose-number {
    margin-top: 14px;
    display: grid;
    grid-template-columns: repeat(9, 45px);
    justify-content: center;
}

.choose {
    font-size: 36px;
    border: 3px solid black;
    text-align: center;
    color: darkslategrey;
}

.choose:hover {
    cursor: pointer;
    color: black;
    background-color: rgba(190, 190, 190, 0.25);
}

.br0 {
    border-right: 0 none;
}

.bl0 {
    border-left: 0 none;
}

.bt0 {
    border-top: 0 none;
}

.bb0 {
    border-bottom: 0 none;
}

div.buttons {
    margin-top: 14px;
}

button {
    padding: 2px 10px;
    background-color: #00348ed9;
    color: white;
    border: none;
    border-radius: 2px;
    font-size: 35px;
}

button:hover {
    background-color: rgb(0, 52, 142);
    border-radius: 10px;
}

button:active {
    background-color: black;
    color: white;
}
/* new */
#normalHeading {
    margin-bottom: 1vw;
}
div.info {
    display: block;
    margin: auto;
    margin-top: 2vw;
    padding: 20px 10px;
    width: 445px;
    border-radius: 10px;
    background-color: #fff;
}
div.info > ul > li {
    list-style-position: inside;
}

.divFooter > ul > li {
    list-style-type: none;
}
.divFooter > ul > li >a{
    color: #4d4d4d;
    transition: none;
}
.divFooter > ul > li >a:hover{
    color: #000;
}
footer{
    border-top: 1px solid black;
    margin:2vw 0;
    padding-top: 1vw;
    display: flex;
    color: #4d4d4d;
    justify-content: center;
}
.right {
    border-right: 1px solid #000;
    padding: 0 10px;
    float: right;
    text-align: right;
}
.left{
    padding: 0 10px;
    justify-content: left;
    float: left;
    text-align: left;
}

@media screen and (max-width: 768px) {
  input#searchbar {
    height: 20px;
    font-size: 17px;
    padding: 0px 5px;
    border: 0.4px solid;
    border-radius: 0.4px;
  }
  nav {
    font-size: 21px;
    padding: 2px 4px;
    height: 25px;
  }
  img.navImage{
    height: 21px;
    padding: 2px 5px;
  }
}
@media screen and (max-width: 360px) {
  nav {
    font-size: 0px;
  }
}
